@import '../../variables.scss';

.card-list-deck{
    list-style: none;
    display: flex;
    padding: 0 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 1s;
    li {
        border: 2px solid $color_primary_light;
        padding: 10px 30px;
        margin: 20px 10px;
        color: $color_primary_text;
        border-radius: 10px;
        box-shadow: 5px 10px $color_dark;
        width: 200px;
        height: 250px;
        background-color: #fff;
        transition: all 1s;
        strong{
            font-size: 1.8rem;
            color: #9656B0;
        }
        h5{
            margin-top: 10px;
        }
        div {
            font-size: 20px;
        }
        .img-weather{
            width: 70px;
            height: 70px;
        }
    }
}

.dark-card {
    color: $color_secondary_text !important;
    background-color: $color_background_dark !important; 
    box-shadow: 5px 10px $color_dark;  
}

.fav-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .card-list-container{
        
    .card-list-deck{
        padding: 0 5px;
        flex-direction: column;
        align-items: center;
        li{
            width: 90%;
            margin: 10px 0;
            min-width: 360px;
        }
    }
}
}