@import '../../variables.scss';
.nav-bar {
    
    display: flex;
    height: fit-content;
    padding: 10px 30px;
    background-color: $color_primary;
    color: $color_secondary_text;
    justify-content: space-between;
    min-width:400px;
    h1 {
        font-weight: bold;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        transition: all 1s linear;
    }
    ul{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
        transition: all 1s linear;
        li {
            font-size: 1rem;
            margin: 0 20px;
            display: flex;
            transition: all 1s linear;
            label {
                font-size: 1.2rem;
                margin: 0 5px;
                vertical-align: middle;
            } 
            .react-toggle {
                display: flex;
            }
        }
    }
    a,
    a:visited {
    color: $color_secondary_text;
    }
    a:hover {
        color: white;
        cursor: pointer;
        text-decoration: none;
        

    }
    .nav-bar-buttons {
        font-weight: 600;
        align-self: center;
        transition: all 1s linear;
        li{
            font-size: 1.2rem;
        }
        li:last-child {
            margin-right: 30px;
        }
    }

}


@media only screen and (max-width: 950px) {
    .nav-bar {
        h1{
            font-size: 1.2rem;
        }
        ul{
            padding-left: 5px;
            li{
                margin: 0 5px;
                label {
                    font-size: 1rem;
                    margin: 0 3px;
                } 
            }
            .nav-bar-buttons {
                font-weight: 500;

                li{
                    font-size: 1rem;
                }
            }
            
        }
    }
}

@media only screen and (max-width: 650px) {
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        h1{
            font-size: 1.4rem;
            justify-content: center;
            margin-bottom: 5px;
        }
        ul{
            justify-content: center;
            li{
                margin: 0 5px;
                label {
                    font-size: 1rem;
                    margin: 0 3px;
                } 
            }
            .nav-bar-buttons {
                font-weight: 500;

                li{
                    font-size: 1rem;
                }
            }
            
        }
    }
}