$color_primary: #A434E4;
$color_primary_light: #9656B0;
$color_primary_dark: #201E28;
$color_primary_text: rgba(0, 0, 0, 0.87);
$color_primary_text_light: rgba(0, 0, 0, 0.56);
$color_secondary_text: rgba(255, 255, 255, 0.87);
$color_secondary_text_light: rgba(255, 255, 255, 0.56);
$color_dark: #212121;


$color_background: #e1e2e1;
$color_background_dark: #616161;

